*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    background:linear-gradient(110deg,#ffb374,#d46262,#b3a8b0,rgb(118, 9, 186));
    background-size: 400%,400%;
    animation: bg 12s ease infinite;
}
@keyframes bg {
    0%{
        background-position: 0%,50%;
    }
    50%{
        background-position: 100%,100%;
    }
    100%{
        background-position: 0%,50%;
    }
}

button{
    padding: 10px 20px;
    border-radius: 25px;
    background-color: black;
    color: white;
    border: 3px solid black;
    font-size: 20px;
    font-weight: 600;
    cursor:pointer;
    
}

button:hover{
    border: none;

    background-color: white;
    border: 3px solid black;
    color: black;
    cursor: pointer; 
    transition: 0.5s;
 } 

.scorecard{
    display: flex;
    flex-direction: column;
    padding: 40px 20px;
    margin: 150px 200px;
    align-items: center;
    justify-content: center;
    background-color: azure;
    font-size: 35px;
    gap: 15px;
    border-radius: 15px;
    border:3px solid black;

}